{{template "base" . }}

{{ define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home</h1>
                <img src="/static/images/bed.jfif" height="500">
            </div>
        </div>
    </div>
{{end}}